@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 50%;
	min-height: 56.5rem;
	margin: 1rem 25%;
	background: linear-gradient(to bottom, #ffd700, #87ceeb);
	font-family: "Zilla Slab", sans-serif;
}

h1 {
	margin: 1rem;
}

p {
	color: #333333;
	margin: 8px 0;
}
